@model ProiectDAW.Models.MyViewModel
@{
    bool hasReview = false;
    var hasReviewId = 0;
}


<h2>Reviews for @ViewData["location"]</h2>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.reviewsIEn)
        {
            @if (Model.users.Find(review.UserId).UserName == User.Identity.Name )
            {
                hasReview = true;
                hasReviewId = review.Id;
            }
            <tr>
                @if (Model.users.Find(review.UserId).UserName == User.Identity.Name)
                {
                    <td width="20%">You</td>
                }
                else
                {
                    <td width="20%">@Model.users.First(u => u.Id == review.UserId) </td>
                }
                
                <td width="70%">@review.Comment</td>
                <td>@review.Rating/5</td>
            </tr>
        }
    </tbody>

</table>

@if (hasReview)
{
    <a asp-action="Edit" asp-route-reviewId="@hasReviewId">Edit your Review</a>
    <a asp-action="Delete" asp-route-reviewId="@hasReviewId">Delete your Review</a>
}
else
{
    <a asp-action="Create" asp-route-locationId="@ViewBag.locationId">Add Review</a>
}

