@model Location
@{
    var locUserId = Model.UserId;
}

<h2>@Model.Name</h2>

<div>
    <h4>Address:</h4>
    <p>@Model.Address</p>
</div>
<div>
    <h4>Phone Number:</h4>
    <p>@Model.PhoneNumber</p>
</div>
<div>
    <h4>Schedule:</h4>
    <p>@Model.Schedule</p>
</div>
@if(Model.PhotoUrl != null)
{
    <div>
        <h4>Photo:</h4>
        <img src="@Model.PhotoUrl" alt=" no photo yet" />
    </div>
}

@if(ViewBag.locUserId == ViewBag.actualUserId){
    <a asp-controller="Location" asp-action="Edit" asp-route-locationId="@Model.Id">Edit</a>

    <a asp-controller="Location" asp-action="Delete" asp-route-locationId="@Model.Id">Delete</a>
}


<a asp-controller="Review" asp-action="Index" asp-route-locationId="@Model.Id">View Reviews</a>
