@model ProiectDAW.Models.MyViewModel
@{
    ViewData["Title"] = "Admin Panel";
    var revCount = 0;
    var locCount = 0;
    var usrCount = 0;
}

<h1>Hello @User.Identity?.Name</h1>
<h3>Latest added reviews</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Rating</th>
            <th>Loc. Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.reviewsIEn)
        {
            if(revCount == 7)
            {
                break;
            }
            else
            {
                revCount += 1;
            }
            <tr>
                <td width="20%">@Model.users.First(u => u.Id == review.UserId)</td>
                <td width="60%">@review.Comment</td>
                <td>@review.Rating/5</td>
                <td>@Model.locations.First(loc => loc.Id == review.LocationId).Name</td>
                <td><a asp-controller="Review" asp-action="Delete" asp-route-reviewId="@review.Id">delete</a></td>
            </tr>
        }
    </tbody>

</table>
<div>&nbsp;</div>
<h3>Latest added locations</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Schedule</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.locationsIEn)
        {
            if (locCount == 7)
            {
                break;
            }
            else
            {
                locCount += 1;
            }
            <tr>
                <td width="18%">@location.Name</td>
                <td width="40%">@location.Description</td>
                <td width="14%">@location.Address</td>
                <td width="14%">@location.PhoneNumber</td>
                <td width="14%">@location.Schedule</td>
                <td><a asp-controller="Location" asp-action="Delete" asp-route-locationId="@location.Id">delete</a></td>
            </tr>
        }
    </tbody>

</table>
<div>&nbsp;</div>
<h3>Registered users</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>UserID</th>
            <th>Role</th>
            <th>Set as Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.usersIEn)
        {
            if (usrCount == 10)
            {
                break;
            }
            else
            {
                usrCount += 1;
            }
            <tr>
                <td>@user.UserName</td>
                <td>@user.Id</td>
                    @if (ViewBag.dic[user.Id])
                    {
                    <td>Admin</td>
                    <td class="text-center">Is Admin</td>
                }
                else
                {
                    <td>User</td>
                    <td width="10%" class="text-center">
                        <a asp-controller="Home" asp-action="SetAdmin" asp-route-userId="@user.Id">X</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>

<div>&nbsp;</div>
<div class="container border border-2 border-dark">
    <div class="row">&nbsp;</div>
    <h2>Admin Chatbox</h2>
    <p>Connected as: <span id="identityUser">@User.Identity.Name</span></p>
    
    <div class="container border border-1 pt-2" style="height: 400px">
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList" style="list-style-type: none">
                </ul>
            </div>
        </div>
        
    </div>
    <div class="row">&nbsp;</div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4"><input type="text" id="userInput" hidden/></div>
        </div>
        <div class="row">
            <div class="col-2"><input type="text" id="messageInput" /></div>
            <div class="col-4">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
            
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
</div>




<script src="~/js/SendMessage.js"></script>